#block-container {
	text-align: center;
	color: var(--color-primary-10);
}

#flex-container {
	display: flex;
	text-align: center;
	color: var(--color-primary-10);
}

#sidebar {
	flex: 0.15;
}

#content {
	flex: 1;
	justify-content: space-between;
	padding: 20px;
	background-color: teal;
}
 
/* NAV */
#main-navigation {
	padding: 2rem 5%;
	background-color: rgba(34, 80, 108);
}
  
#main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	gap: 1.5rem;
	justify-content: center;
}

#main-navigation li {
	list-style: none;
	padding: 0;
}

#main-navigation li svg {
	transform: scale(0.75);
}

.nav-row {
	margin-bottom: 35px;
	width: 100%;
}

.nav-row a {
	text-decoration: none;
	color: var(--color-primary-10);
	transition: 0.3s;
}
  
.nav-row a:hover,
.nav-row a.active {
	color: var(--color-secondary-200);
	transition: 0.3s;
}

/* TEAMS */
.team-box {
	text-align: left;
	justify-content:center;
	background-color: rgba(128, 128, 128, 0.7);
	height: 25%;
	border-radius: 10px;
}

.team-text {
	padding: 5px;
}

/* button */
.cta {
	margin-top: 2rem;
}
  
.cta a {
	text-decoration: none;
	background-color: var(--color-secondary-100);
	color: var(--color-primary-800);
	padding: 0.5rem 2rem;
	border-radius: 4px;
	font-size: 1.5rem;
}
  
.scta a:hover {
	background-color: var(--color-secondary-200);
}