/* containers */
.block-container {
  text-align: center;
  background-image: url(public/landing.svg);
  background-size: cover;
  color: var(--color-primary-10);
  height: 100vh;
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: var(--color-primary-10);
  height: 100vh;
  overflow: auto;
}

.company-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--color-primary-10);
  height: 100vh;
  overflow: auto;
}

.horiz-flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: white;
  color: var(--color-primary-10);
  height: 100vh;
  overflow: auto;
}

.div-line {
  border-left: 2px solid var(--color-primary-30);
  height: 100%;
  position: absolute;
  left: 35%;
  margin-top: 160px;
  top: 0;
}

#pm-content {
  width: 35%;
}

/* .landing-box {
	background-color: var(--color-primary-40);
	height: 100%;
	width: 45%;
	padding: 100px 15px;
	box-shadow: 0 0 10px 5px var(--color-primary-40);
	border-radius: 10px;
} */

.landing-box {
  background-color: var(--color-primary-40);
  width: 50%;
  margin: 100px auto;
  padding: 15px;
  border-radius: 10px;
}

.company-banner {
  text-align: left;
  background-image: url(public/landing.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 30px;
}

.team-info,
.assigned-interns {
  text-align: left;
  padding: 15px;
  width: 50%;
}

/* flex elements */
#sidebar {
  flex: 0.05;
  flex-basis: 0%;
  background-color: var(--color-primary-10);
  text-align: center;
}

#sidebar a {
  color: white;
  transition: 0.3s;
}

/* NAV */
#main-navigation {
  padding: 2rem 0;
  height: 100%;
  display: inline-block;
}

#main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  justify-content: center;
  text-decoration: none;
}

#main-navigation li svg {
  width: 40px;
  height: 40px;
}

.nav-row {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.nav-row a {
  pointer-events: none;
  cursor: default;
  list-style: none;
  text-decoration: none;
  color: var(--color-primary-10);
  transition: 0.3s;
}

.nav-row a:hover,
.nav-row a.active {
  color: var(--color-primary-40);
  transition: 0.3s;
}

.icon-title {
  padding: 8px;
  margin: 0;
}

.nav-row a.active .icon-title {
  display: inline-block;
  color: var(--color-primary-40);
}

/* nav pointer shape */
/* https://css-tricks.com/the-shapes-of-css/ */
.pointer {
  width: 180px;
  height: 40px;
  position: relative;
  background: var(--color-primary-40);
  transition: 0.3s;
}

.pointer:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointer:before {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid var(--color-primary-40);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: border-left 0.3s;
}

/* regular styles */
.nav-row a.active .pointer {
  background-color: var(--color-primary-10);
}

.nav-row a.active .pointer:before {
  border-left: 20px solid var(--color-primary-10);
  transition: border-left 0.3s;
}

/* locked styles */
.pointer.icon-locked {
  background-color: lightgrey;
}

.pointer.icon-locked:before {
  border-left: 20px solid lightgrey;
}

.pointer.icon-locked .icon-title {
  color: black;
}

.nav-row a.active .pointer.icon-locked {
  background-color: darkgrey;
}

.nav-row a.active .pointer.icon-locked:before {
  border-left: 20px solid darkgrey;
}

/* PM second side bar */
#sidebar-2 {
  display: inline;
  text-align: left;
  margin-left: 20px;
}

#date-bar {
  display: inline;
  margin-left: 20px;
}

#date-bar button {
  margin: 10px;
  font-family: Mulish, Roboto, Arial;
  font-weight: bold;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: 0.3s;
}

.time-scale {
  background-color: transparent;
  border: 1px solid var(--color-primary-20);
  color: var(--color-primary-20);
}

.curr-date {
  background-color: transparent;
  border: 1px solid lightgray;
  color: grey;
}

.pm-mode.team {
  border: 1px solid lightgray;
  color: grey;
}

.pm-mode.members {
  border: 1px solid lightgray;
  background-color: var(--color-primary-30);
  color: white;
}

#timeline {
  width: 60%;
}

#members-timeline {
  width: 100%;
}

/* QUESTIONS */

/* scale */
.scale-container {
  padding: 20px;
  margin: 10px;
}

.MuiSlider-root {
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  color: var(--color-primary-20);
  -webkit-tap-highlight-color: transparent;
  height: 4px;
  padding: 13px 0;
  margin-bottom: 20px;
  width: 60%;
}

.MuiSlider-rail {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  width: 100%;
  height: inherit;
  top: 50%;
  transform: translateY(-50%);
}

.MuiSlider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  outline: 0;
  background-color: currentColor;
  display: flex;
  justify-content: center;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 50%;
  transform: translate(-50%, -50%);
}

.MuiSlider-markLabel {
  font-family: Mulish, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  white-space: nowrap;
  top: 30px;
  transform: translateX(-50%);
}

/* ranking */
.rank-card {
  background-color: #d4d4df8c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
  padding: 1px;
  width: 20%;
  border-radius: 10px;
  transition: 0.3s;
}

.favorite-icon {
  width: 1.5rem;
  position: absolute;
  right: 8%;
}

.rank-card:hover {
  cursor: pointer;
  background-color: rgba(212, 212, 223, 0.45);
  transition: 0.3s;
}

.rank-box {
  background-color: #22506c10;
  padding: 15px;
  border-radius: 10px;
}

/* text */
.text-q {
  width: 75%;
  background-color: rgba(255, 254, 254, 0.5);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: Mulish, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  box-shadow: 0 0 10px 5px rgba(245, 245, 245, 0.8);
}

/* progress */
.progress-container {
  background-color: gainsboro;
  border-radius: 10px;
  width: 100%;
}

#progress {
  padding: 5px;
  background-color: var(--color-primary-30);
  border-radius: 10px;
  width: 0%;
  transition: width 0.7s;
}

/* dropdown - team */
.full-skills {
  margin: 10px;
}

.filtered-skill {
  display: inline-block;
  list-style: none;
  padding: 8px;
  margin: 8px;
  background-color: var(--color-secondary-10);
  color: white;
  font-size: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.filtered-skill:hover {
  background-color: var(--color-primary-20);
  transition: 0.3s;
}

/* TEAMS - new hire */
.team-box {
  text-align: left;
  justify-content: center;
  background-color: var(--color-primary-40);
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 0 10px 5px rgba(245, 245, 245, 0.8);
  padding: 1rem;
  margin-top: 2rem;
}

.team-box.team-list {
  margin: 15px;
}

.team-box.task-list {
  margin: 20px;
}

.team-box.task-list.proj {
  background-color: var(--color-primary-20);
  color: white;
  margin: 10px;
}

.team-box.skills {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.teams-container {
  width: 65%;
}

.newhires-list-container {
  display: flex;
  justify-content: space-between;
}

.newhires-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.newhires-list.unmatched {
  border-right: 1px solid gray;
  padding-right: 1rem;
}

.newhires-list.matched {
  padding-left: 1rem;
}

.newhires-list h4 {
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.no-matched-hires {
  font-size: 1.3rem;
  color: gray;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teams-list img {
  display: block;
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  margin-top: 1rem;
  object-fit: cover;
}

.meets-container {
  width: 35%;
}

.team-box:hover,
.task-box:hover {
  background-color: #22506c13;
  transition: 0.3s;
}

.team-text {
  margin: 15px;
  padding: 5px;
}

.task-desc-toggle {
  cursor: pointer;
  float: right;
}

/* BUTTONS */

/* skill scores in team prefs */
.profile-skill-score {
  display: inline-block;
  background-color: var(--color-secondary-10);
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-align: center;
}

.profile-skill-name {
  display: inline-block;
  padding: 10px;
}

.skill-search {
  font-family: Mulish, Roboto;
  font-weight: bold;
  font-size: 14px;
  color: #6e757a;
  width: 25%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-color: #05467c;
  border-width: thin;
  margin-bottom: 15px;
}

/* team description edit */
.edit.active {
  background-color: var(--color-secondary-10);
}

/* previous and next buttons */
.cta {
  margin-top: 2rem;
}

.cta a,
.cta button,
.form-actions button {
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: white;
  margin: 1rem;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  font-family: Mulish, Roboto;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.cta a:hover,
.scta a:hover,
.cta button:hover,
.form-actions button:hover {
  background-color: var(--color-secondary-10);
  cursor: pointer;
  transition: 0.3s;
}

.cta .match {
  font-size: 1.3rem;
}

.cta .confirm {
  background-color: var(--color-primary-10);
}

.diversity {
  border: none;
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: #fff;
  font-family: Mulish, Roboto;
  padding: 0.3rem 1rem;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.diversity:hover {
  background-color: var(--color-secondary-10);
  transition: 0.3s;
}

.longer a {
  padding: 0.5rem 5rem;
}

.bottom-right a {
  float: right;
}

button[type='submit'] {
  font-family: Mulish, Roboto;
  border: none;
}

.cta a.prev-button {
  background-color: #f5f0e5;
  color: rgb(101, 101, 101);
  transition: 0.3s;
}

.cta a.prev-button:hover {
  background-color: var(--color-primary-30);
  color: var(--color-primary-40);
  transition: 0.3s;
}

/* logout button */

.tr-button {
  display: inline;
  background-color: var(--color-primary-10);
  color: white;
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  border: none;
}

.tr-form {
	border-top: solid white 2px;
	position: absolute;
	text-align: right;
	top: 50px;
	right: 0;
	background-color: var(--color-primary-10);
}

.tr-form a, .tr-form button {
	display: block;
}

.logout-button, .profile-button {
	margin: 5px;
	color: white;
	cursor: pointer;
	background-color: var(--color-primary-10);
	border: none;
	font-size: 12px;
	font-family: Mulish, Roboto, Arial;
	transition: 0.3s;
	text-align: center;
}

.profile-button {
	padding: 2px;
	text-decoration: none;
}

.logout-button:hover,
.profile-button:hover {
  background-color: var(--color-secondary-10);
  transition: 0.3s;
}



/* edit button */
a.edit,
button.edit {
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary-20);
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 0.2rem 0.4rem;
  transition: 0.3s;
  font-size: 1rem;
}

button.edit-clear {
  background: none;
  opacity: 0.5;
  border: none;
  transition: 0.3s;
}

a.edit:hover,
button.edit:hover {
  background-color: var(--color-secondary-10);
  transition: 0.3s;
}

button.edit-clear:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

/* FORMS */
.form-actions a {
  text-decoration: none;
  background-color: var(--color-secondary-100);
  color: var(--color-primary-800);
  margin: 10px;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

.form-container {
  margin: 5px;
  text-align: left;
}

.field-container {
  margin: 15px;
}

.info-form {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(245, 245, 245, 0.8);
}

.info-form input,
.info-form label,
.info-form select {
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.info-form input,
.info-form select,
.login-field input {
  font-family: Mulish, Roboto;
  font-weight: bold;
  font-size: 14px;
  color: #6e757a;
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border-color: #05467c;
  border-width: thin;
  margin-bottom: 15px;
}

.form-left .field-container {
  display: inline-block
}

.image-input {
  display: inline;
}

.custom-file-upload {
  font-family: Mulish, Roboto;
  text-decoration: none;
  background-color: var(--color-primary-30);
  color: var(--color-primary-40);
  padding: 0.2rem 2rem;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: var(--color-primary-20);
  color: var(--color-primary-40);
  transition: 0.3s;
}

input[type='file'] {
  display: none;
}

.login-field {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.login-field input {
  margin-top: 5px;
}

textarea {
  resize: vertical;
  width: 90%;
}

#task-input {
  background: transparent;
  font-family: Mulish, Roboto, Arial;
  color: var(--color-primary-20);
  border: none;
  outline: none;
  resize: none;
  height: 20px;
  border-bottom: 1px solid var(--color-primary-20);
}

/* PM (general) */
input[type='checkbox'] {
  accent-color: var(--color-primary-20);
  width: 20px;
  height: 20px;
}

.check-field {
  margin: 10px;
}

.task-box,
.task-box-v2 {
  text-align: left;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 0 10px 5px rgba(245, 245, 245, 0.8);
  padding: 10px;
  cursor: default;
  margin-bottom: 10px;
}

.task-box {
  background-color: var(--color-primary-40);
}

.task-box-v2 {
  background-color: var(--color-primary-30);
}

.task-box.done,
.task-box-v2.done {
  background-color: rgb(206, 248, 240);
  transition: 0.3s;
}

/* PM form field + confirm styling */
.proj-dropdown {
  margin: 10px;
}

.proj-form-field {
  display: block;
}

.proj-progress-txt {
  margin-bottom: 6px;
}

.team-add-task {
  width: 50%;
}

.task-name-bar {
  margin-top: 15px;
  margin-left: 10px;
}

.proj-dropdown-div {
  margin-left: 10px;
}

.proj-task-confirm {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* LOGO */
.opportune-logo-small {
  display: inline;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  transition: 0.3s;
}

.opportune-logo-small:hover {
  opacity: 0.85;
  transition: 0.3s;
}

.opportune-logo-large {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-left: 10px;
  margin-top: 5px;
  transition: 0.3s;
  filter: drop-shadow(0px 0px 10px lightgrey);
}

.text-logo {
  color: white;
  margin: 10px 0px 0px 0px;
  font-size: 1.5rem;
  display: inline-block;
}

.expanded-content {
  display: flex;
  flex-direction: column;
}

.text-content {
  flex: 1;
}

/* PM timeline */
.horiz-flex-container.time {
  height: 20px;
  margin: 10px;
}

.flex-container.time {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    var(--color-primary-30) 1.2px,
    rgba(0, 0, 0, 0) 1px
  );
}

.time-markers {
  margin-right: 20%;
}

/* CALENDAR */

.schedule-btn {
  align-self: flex-end;
  margin-top: 1em;
  text-decoration: none;
  background-color: var(--color-secondary-10);
  color: var(--color-primary-40);
  margin: 10px;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: Mulish, Roboto;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.read-more-btn {
  font-weight: bold;
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.read-more-btn:after {
  content: ' ▼';
  font-size: 0.8em;
}

.read-more-btn:hover {
  text-decoration: underline;
}

/* IMAGE UPLOAD */

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 1em;
  /* margin: 10em auto; */
}

.title {
  text-align: center;
  margin: 2em 0;
}

.upload-buttons {
  display: flex;
  flex-direction: row;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preview img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: cover;
}

.preview h1,
.preview p {
  margin-top: 0;
  margin-bottom: 10px;
}

.custom-file-upload {
  text-decoration: none;
  background-color: var(--color-secondary-10);
  color: var(--color-primary-40);
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: 0.3s;
}

.pic-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Calendly */

.calendly-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9999;
  background-color: #a5a5a5;
  background-color: rgba(31, 31, 31, 0.4);
}

.calendly-overlay .calendly-close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.calendly-overlay .calendly-popup {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 80%;
  min-width: 900px;
  max-width: 1000px;
  height: 90%;
  max-height: 680px;
}

.calendly-overlay .calendly-popup .calendly-popup-content {
  height: 100%;
}

.calendly-popup-content {
  position: relative;
}

.favorite-btn {
  all: unset;
}

.favorite-btn .star-icon {
  width: 2rem;
  height: 2rem;
}

/* misc */
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.favorite-btn .star-icon {
  width: 2rem;
  height: 2rem;
}

/* Company portal */

.upload-buttons {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-10);
}

.company-teams-title {
  text-align: left;
  margin: 2em 0;
  padding: 0.5em 1em;
  background-color: aliceblue;
}

.company-teams-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 2rem;
}

.company-team {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-align: left;
}

.company-hire {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.company-hire h3 {
  margin-top: 0.9rem;
}

.company-team h3 {
  margin-top: 0.9rem;
}

.company-description {
  margin: 0 2rem;
  width: 50%;
}

.company-description textarea {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: aliceblue;
  width: 50%;
  height: 70%;
  max-width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  text-align: left;
}

.modal-large {
  background: aliceblue;
  width: 65%;
  height: 80%;
  max-width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  text-align: left;
}

.modal-large button.off-right {
  position: absolute;
  top: 50%;
  right: -8%;
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
  padding: 0.5rem 1.5rem;
  border: none;
}

.modal-large button.off-left {
  position: absolute;
  top: 50%;
  left: -8%;
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
  padding: 0.5rem 1.5rem;
  border: none;
}

.modal button.right,
.modal-large button.right {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
  border: none;
}

.modal button.left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.modal button.center {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.modal button:hover,
.modal-large button:hover {
  color: #06d6a0;
}

.modal .field-container {
  text-align: left;
  display: inline-grid;
  width: 40%;
  height: 5rem;
  padding: 0 1rem;
  margin-right: 3rem;
}

.newhire-button {
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
  margin-top: 1rem;
}

.newhire-button:hover {
  cursor: pointer;
  background-color: var(--color-secondary-10);
}

.company-save {
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: white;
  margin: 1em 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  transition: 0.3s;
}

.company-save:hover {
  background-color: var(--color-secondary-10);
  cursor: pointer;
  transition: 0.3s;
}

.new-hire-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 2rem;
}

.company-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
}

.company-preview img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: contain;
}

.company-preview h1,
.company-preview p {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.add-team {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  font-size: 1.5rem;
}

.done-button {
  background-color: #1e90ff;
  border-radius: 0.8rem;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
  margin-top: 1rem;
  margin-right: 4rem;
}

.in-progress-button {
  border-radius: 0.8rem;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
  margin: 1rem;
}

.teamsDropdown {
  position: relative;
}

.teamsDropdown__toggle {
  border: none;
  background: none;
  cursor: pointer;
}

.teamsDropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ddd;
}

/* matching page */
.matching-title p {
  color: rgb(101, 101, 101);
  margin: 0.5rem 0;
}

.matching-progress-button {
  width: auto;
  margin-left: auto;
}

.matching-info {
  display: flex;
}

.lock-button {
  position: relative;
  margin-top: 1rem;
  background: none;
  margin-left: 1rem;
}

.lock-icon {
  width: 2rem;
}

.hover-message {
  visibility: hidden;

  /* Positioning */
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 8px;

  /* Other styles */
  width: 15rem;
  background-color: black;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
}

.lock-button:hover .hover-message {
  visibility: visible;
}

.addTeam-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.select-active {
  border: none;
  border-radius: 1rem;
  background-color: var(--color-primary-20);
  color: white;
  text-align-last: center;
  padding: 0.5rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 7rem;
  cursor: pointer;
}
.select-inactive {
  border: none;
  border-radius: 1rem;
  background-color: gray;
  color: white;
  text-align-last: center;
  padding: 0.5rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 7rem;
}

.collapsible-container {
  border: 1px solid #cccccc;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.collapsible.open {
  max-height: 1000px;
}
.edit-input {
  margin-top: 0.8em;
  font-size: 1.17em;
  font-weight: 600;
  border: none;
  background: none;
  width: 30%;
}

.edit-button {
  border: none;
  background: none;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  text-align: right;
  float: right;
  margin-top: 1rem;
  width: 2rem;
}

.edit-button:hover {
  color: var(--color-primary-20);
}

.edit-icon {
  border: none;
  position: relative;
  background: none;
  width: 1rem;
  font-size: 1rem;
}

.edit-icon:hover {
  color: var(--color-primary-20);
}

.trash:hover {
  color: red;
}

.buttons {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.delete-button {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
  border: none;
}

.save-button {
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.3s;
  margin-left: 1rem;
}

.buttons button:hover {
  background-color: var(--color-secondary-10);
  cursor: pointer;
  transition: 0.3s;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.row-container-start {
  display: flex;
  justify-content: flex-start;
}

.company-deadlines {
  width: 45%;
  margin: 0 2rem;
}

.date-container {
  text-align: left;
  margin-left: 1rem;
  width: 40%;
}

.unavailable-content {
  display: flex;
  flex-direction: column;
  /* border: 1.5px solid gray; */
  width: 50%;
  margin: 2rem auto;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.unavailable-content img {
  width: 50%;
}

.survey-will-close {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matching-unavailable {
  margin-bottom: 1rem;
  margin-right: 2rem;
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.team-member-card {
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(101, 101, 101);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member-card span {
  margin-right: 10px;
}

.add-member-btn {
  text-decoration: none;
  background-color: var(--color-primary-20);
  color: white;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  font-family: Mulish, Roboto;
  font-size: 1rem;
  padding: 0.5rem;
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
}

.team-member-card1 {
  text-align: center;
  width: fit-content;
  align-items: center;
  height: 2rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgb(101, 101, 101);
  box-shadow: 0 4px 6px #0000001a;
}

.member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.react-datepicker__input-container input {
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #f08e46;
  font-size: 1.2rem;
  font-family: Mulish, Roboto;
  font-weight: 600;
  width: 90%;
  margin-top: 1rem;
  &:focus {
    outline: none;
  }
}

.react-datepicker__month-container {
  color: #969eac;
  font-size: 1rem;
  font-family: 'Mulish';
}

.react-datepicker__month {
  padding: 1rem 0;
}

.react-datepicker__month-text {
  display: inline-block;
  width: 5rem;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.2rem;
  &:hover {
    background-color: #534cea;
  }
}

/* Hide the checkbox */
.toggle-button {
  display: none;
}

/* Custom styling for the label */
.toggle-label {
  position: relative;
  display: block;
  width: 3rem;
  height: 1.6rem;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 1rem;
}

/* Circle inside the toggle */
.toggle-label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

/* Change styles when the checkbox is checked */
.toggle-button:checked + .toggle-label {
  background-color: var(--color-secondary-10);
}

.toggle-button:checked + .toggle-label::after {
  transform: translateX(1.4rem);
}

.column {
  float: left;
  width: 33%;
  margin: auto;
  text-align: center;
}

.stat-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem 0;
}

.metric-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 90%;
}

/* for parameter validation */
.failed-auth {
  color: mediumvioletred;
  font-weight: bold;
  font-size: 18px;
}

.a-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: underline;
}
